ion-title {
    text-align: center;
    font-weight: bold;
}

ion-icon {
    padding-left: 16px;
    font-size: 1.4em;
    font-weight: bold;
}

.card1 {
    margin: 15px;
    padding: 13px 13px 13px 13px;
    color: #3880FF;
}

.card2 {
    padding: 0px;
}

ion-label {
    font-weight: bold;
    color: black !important;
}

.titulo {
    font-size: 14px;
    font-weight: bold;
}

.cuerpo {
    text-align: justify;
    font-size: 12px;
}